.h3{
    font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font: weight 1000px;;
    text-transform:capitalize;
}

#mystyle{
    color: white;
}
.align{
    margin-left: 20px;
}
section.h4{
    text-transform:capitalize;
}
.projectimg{
    width: 50vmax;
}
#iheader {
    position: relative;
    width: 100%;
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url('../img/back2.jpg');
    text-align: center;
  }
#about{
    position: relative;
    width: 100%;
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url('../img/portfolio/bg3.jpg');
    text-align: center;
    color: white;
}
hr{
    border-color:white;
    border-width: 0.5vw;
    max-width: 10vw;
}
/* .text-centre{
    text-align: center;
} */
#contact a,a.active,a:hover,a:active,a:focus{
    color: white;
}
.fa-linkedin{
    display: initial;
    color: rgb(16, 114, 179);
    font-size: 50px;
}
.fa-phone,.fa-envelope{
font-size: 50px;
}
.fa-github{
    display: initial;
    color: indianred;
    font-size: 50px;
}
#portfolio {
    background-color: #87dced;
}
#portfolio hr{
    border-color:black;
}

#contact{
    background-color: #ffb64d;
}
#portfolio span {
    color: brown;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
}
#navName{
    font-family:'Kaushan Script', cursive;
    font-style: italic;
    text-transform: none;
    font-size: 2rem;
}

#headerimg{
    border-radius: 50%;
    float: left;
    width: 20vw !important;
    height: 20vw !important;
}

.intro-text{
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: brown;
}

@media (min-width:992px){
    #navName{
        font-size: 2rem;
    }
}

@media(max-width:767px){
    #headerimg{
        float: none;
    }
}